<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>EasyTrack</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <app-header />
    <main>
      <ul id="users">
        @for (user of users; track user.id) {
          <li>
            <app-user
              (select)="onSelectUser($event)"
              [user]="user"
              [selected]="selectedUserId() == user.id"
            />
          </li>
        }
      </ul>

      @if (selectedUserId()) {
        <app-tasks
          [name]="selectedUser?.name ?? ' '"
          [userId]="selectedUserId()"
          /* (isAddingTask)="onAddTaskForUser($event)" */
        />
      } @else {
        <p id="fallback">Select a user to see their Task</p>
      }

      <h3>Task Ended with id : {{ selectedUserId() }}</h3>
    </main>

  </body>
</html>
